/* @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap'); */

@font-face {
	font-family: "Mojangles";
	src: url('fonts/mojangles.otf.woff2') format('woff2');
}

body {
	background-color: #4b4e52;
	font-family: "Mojangles";
	font-optical-sizing: auto;
 	font-weight: 400;
 	font-style: normal;
	color: white;
}

.buton, button {
	font-family: "Mojangles";
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        color: white;
	background-color: #3b3d40;
	border-radius: 12px;
	padding: 15px;
	border-color: white;
	border-style: solid;
	text-decoration: none;
	transition: 0.4s;
}

.buton:hover, button:hover {
	padding: 20px;
	background-color: #212224;
	border-radius: 15px;
}

.para_button {
	font-style: italic;
	font-size: 16px;
	transition: 0.4s;
}

.para_button:hover {
	font-size: 20px;
	background-color: #171717;
	border-radius: 15px;
}

.less-important-data {
	color: #dbdbdb;
	font-size: 12px;
}

a {
	color: white;
	transition: 0.4s;
}

a:hover {
	font-size: 18px;
}

.git-buton {
	font-family: "Mojangles";
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	color: black;
	background-color: white;
	border-radius: 12px;
	padding: 15px;
	border-color: white;
	border-style: solid;
	text-decoration: none;
	transition: 0.4s;	
}

.git-buton:hover {
	padding: 20px;
	border-radius: 15px;
}

fieldset {
	border-radius: 12px;
	background-color: #3b3d40;
}

.textinput {
	font-family: "Mojangles";
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        color: white;
        background-color: #3b3d40;
        border-radius: 12px;
        border-color: white;
	border-style: solid;
	padding: 5px;
}

.account-panel, .command-panel, .changelog {
	background-color: #2f3133;
	width: 50%;
	border-radius: 15px;
	border-style: solid;
	border-color: white;
}

.a-topbar {
	position: relative;
	bottom: 20px;
}

.topbar {
	position: sticky;
	top: 1px;
	background-color: #3b3d40;
	border-radius: 12px;
	padding: 15px;
	border-color: white;
	border-style: solid;
}

.span-heading {
	font-size: 2em;
}

.version-title {
	background-color: #171717;
	border-radius: 15px;
	width: 50%;
}
